.card {
  display: flex;
  flex-direction: column;
  background-color: $color-white-base;
  padding: 40px 20px 20px;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    &:focus-within,
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.card__link {
  text-decoration: none;
  color: $color-black-base;

  &--picture {
    align-self: center;
    order: -1;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &--title {
    margin-bottom: 4px;
  }
}

.card__title {
  font-size: 18px;
  line-height: 32px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 5px;
  }
}

.card__description {
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__button {
  &--buy {
    font-size: 14px;
    line-height: 20px;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 16px;
      background-image: url("../../img/icons/add-to-cart.svg");
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 6px;
    }
  }
}
