.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-lightest-grey;
  padding-top: 45px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 119px;
  }
}

.catalog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__sort {
  @media (min-width: $desktop-width) {
    padding-top: 37px;
    padding-bottom: 25px;
  }
}

.catalog__container {
  width: $mobile-width;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 40px;
  }
}

.catalog__wrapper {
  order: 2;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    column-gap: 30px;
    padding: 0;
  }
}

.catalog__goods {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.catalog__list {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 349px));
    gap: 30px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 317px));
    gap: 31px;
    margin-bottom: 0;
  }
}

.catalog__item {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__title {
  text-align: center;
}
