.footer-developers {
  text-align: center;
  padding: 17px 0 30px 0;

  @media (min-width: $desktop-width) {
    flex: 0 0 100%;
    padding: 10px 0 40px 0;
  }
}

.footer-developers__copyright {
  color: $color-base-grey;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.footer-developers__link {
  color: inherit;

  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    color: $color-primary-darker;
  }
}

.footer-developers__icon {
  fill: currentColor;
  transform: translateY(4px);
}
