.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 44px;
  padding-bottom: 59px;

  @media (min-width: $tablet-width) {
    margin: -4px;
    padding-top: 0;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 104px;
    padding-bottom: 119px;
  }
}

.features__title {
  margin: 0 0 36px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}
