.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 500px; //ВРЕМЕННО

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-social__logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 20px;
  height: 60px;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
    font-size: 14px;
    margin-bottom: 55px;
  }
}

.footer-social__logo-image {
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;
  }
}

.footer-social__text {
  @media (min-width: $desktop-width) {
    margin-top: 1px;
    letter-spacing: -0.05px;
  }
}


.footer-social__list {
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 19px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 40px;
  }
}

.footer-social__link {
  display: block;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color-base-grey;

  &:hover,
  &:focus {
    background-color: $color-base-secondary;
    color: $color-base-primary;
  }

  &:active {
    background-color: $color-primary-opacity;
    color: $color-base-primary;
  }
}

.footer-social__icon {
  fill: currentColor;

  &--vk,
  &--ok {
    width: 20px;
    height: 20px;
  }

  &--pinterest {
    margin-top: -1px;
    width: 22px;
    height: 22px;
  }
}
