.form {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 43px;
  }
}

.form__wrapper {
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
    grid-template-columns: 225px 1fr 1fr;
    gap: 22px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 318px;
    margin-bottom: 20px;
    gap: 29px;
  }
}

.form__group {
  margin: 0;
  padding: 0 0 31px 0;
  border: 0;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 18px;
  margin-left: 3px;
  padding: 4px 0 0 0;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.form__input-list {
  list-style: none;
  margin: 0;
  padding: 1px 0 0 3px;
}

.form__radio-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox-item {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

//состояние по умолчанию (радиокнопки)
.form__radio-label {
  --radio-outer-diameter: 24px;
  --radio-inner-diameter: 16px;

  padding-left: 34px;
  min-height: var(--radio-outer-diameter);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    box-sizing: border-box;
    left: 0;
    width: var(--radio-outer-diameter);
    height: var(--radio-outer-diameter);
    border: 2px solid $color-base-grey;
    background-color: transparent;
  }

  &::after {
    left: calc((var(--radio-outer-diameter) - var(--radio-inner-diameter)) / 2);
    width: var(--radio-inner-diameter);
    height: var(--radio-inner-diameter);
    background-color: transparent;
  }
}

//focus + hover (радиокнопки)
.form__radio-item input[type="radio"]:not(:checked):focus:not(:disabled) + .form__radio-label,
.form__radio-item input[type="radio"]:not(:checked):hover:not(:disabled) + .form__radio-label {
  &::before {
    border: 2px solid $color-primary-lighter;
  }

  &::after {
    background-color: $color-primary-opacity;
  }
}

//checked (радиокнопки)
.form__radio-item input[type="radio"]:checked + .form__radio-label {
  &::after {
    background-color: $color-base-primary;
  }

  &::before {
    border: 2px solid $color-base-primary;
  }
}

//disabled (радиокнопки)
.form__radio-item input[type="radio"]:disabled + .form__radio-label {
  color: $color-base-grey;
  cursor: default;

  &::before {
    border-color: $color-light-grey;
  }

  &::after {
    background-color: transparent;
  }
}

//disabled + checked (радиокнопки)
.form__radio-item input[type="radio"]:disabled:checked + .form__radio-label {
  &::after {
    background-color: $color-light-grey;
  }
}

//состояние по умолчанию (чекбоксы)
.form__checkbox-label {
  --checkbox-outer-width: 42px;
  --checkbox-outer-height: 24px;
  --checkbox-togle-diameter: 20px;

  padding-left: 54px;
  min-height: var(--checkbox-outer-height);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    box-sizing: border-box;
    left: 0;
    width: var(--checkbox-outer-width);
    height: var(--checkbox-outer-height);
    background-color: $color-base-grey;
    border-radius: 12px;
    transition: 0.2s;
  }

  &::after {
    left: calc((var(--checkbox-outer-width) - var(--checkbox-togle-diameter)) / 8);
    width: var(--checkbox-togle-diameter);
    height: var(--checkbox-togle-diameter);
    background-color: $color-white-base;
    border-radius: 50%;
    transition: 0.2s;
  }
}

//focus + hover (чекбоксы)
.form__checkbox-item input[type="checkbox"]:not(:checked):focus:not(:disabled) + .form__checkbox-label,
.form__checkbox-item input[type="checkbox"]:not(:checked):hover:not(:disabled) + .form__checkbox-label {
  &::before {
    border: 2px solid $color-primary-lighter;
    background-color: $color-primary-opacity;
    transition: none;
  }
}

//checked чекбоксы
.form__checkbox-item input[type="checkbox"]:checked + .form__checkbox-label {
  &::after {
    left: calc((var(--checkbox-outer-width) - var(--checkbox-togle-diameter)) / 1.1);
  }

  &::before {
    background-color: $color-base-primary;
  }
}

//disabled чекбоксы
.form__checkbox-item input[type="checkbox"]:disabled + .form__checkbox-label {
  color: $color-base-grey;
  cursor: default;

  &::before {
    background-color: $color-light-grey;
  }

  &::after {
    background-color: $color-lightest-grey;
  }

  &::before,
  &::after {
    border: none;
  }
}

//disabled + checked (чекбоксы)
.form__checkbox-item input[type="checkbox"]:disabled:checked + .form__checkbox-label {
  &::after {
    background-color: $color-base-grey;
  }
}
