.main-footer {
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 41px;
  }
}
