.page {
  height: 100%;
}

.page__body {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: $mobile-width;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $color-black-base;
  background-color: $color-white-base;
}
