.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  min-width: $mobile-width;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: $font-family-montserrat-regular;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-black-base;
  background-color: $color-white-base;
}
