.price {
  font-family: $font-family-montserrat-semi-bold;
  font-size: 20px;
  line-height: 32px;
  color: $color-black-base;
  margin-right: 14px;

  &--old-price {
    font-family: $font-family-montserrat-regular;
    font-size: 16px;
    text-decoration: line-through;
    color: $color-base-primary;
    margin-right: 0;
  }
}
