.range {
  @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
    margin-left: 7px;
    max-width: 220px;
  }
}

.range__controls {
  position: relative;
  padding: 11px 0;
  border-radius: 5px;
  margin-bottom: 23px;
  user-select: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.range__scale {
  height: 4px;
  background-color: $color-light-grey;
}

.range__bar {
  margin-left: 10px;
  width: 85.5%;
  height: 4px;
  background-color: $color-primary-lighter;

  @media (min-width: $tablet-width) {
    width: 84%;
  }
}

.range__toggle {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid $color-primary-lighter;
  background-color: $color-white-base;
  cursor: pointer;

  &--min {
    left: 3px;

    @media (min-width: $tablet-width) {
      left: -7px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
    }
  }

  &--max {
    left: 85.5%;

    @media (min-width: $tablet-width) {
      left: 79.1%;
    }

    @media (min-width: $desktop-width) {
      left: 86.3%;
    }
  }

  &:hover,
  &:focus {
    &::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 50%;
      display: block;
      transform: translateX(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-primary-opacity;
    }
  }

  &:active {
    &::after {
      background-color: $color-base-primary;
      transition: all 0.4s ease-out;
    }
  }
}

.range__controls--disabled .range__bar {
  background-color: $color-base-grey;
}

.range__controls--disabled .range__toggle {
  border-color: $color-base-grey;
  cursor: default;

  &:hover,
  &:focus {
    &::after {
      background-color: transparent;
    }
  }

  &:active {
    &::after {
      background-color: transparent;
    }
  }
}

.range__price-wrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 43px;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    column-gap: 33px;
    margin-left: -10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%);
    width: 8px;
    height: 2px;
    background-color: $color-base-grey;

    @media (min-width: $desktop-width) {
      left: 50%;
    }
  }
}

.range__price {
  width: 118px;
  padding: 9px 10px 8px;
  text-align: center;
  color: $color-black-base;
  border: 2px solid $color-primary-lighter;
  border-radius: 4px;
  background-color: $color-white-base;
  font-family: inherit;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }

  &:focus {
    border-color: $color-primary-darker;
    outline: none;
  }

  &:disabled {
    background-color: $color-lightest-grey;
    border-color: $color-light-grey;
    color: $color-base-grey;
  }

  &--min-price {
    margin-left: 3px;

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &--max-price {
    margin-right: -3px;
    font-family: $font-family-montserrat-medium;

    @media (min-width: $tablet-width) {
      margin-right: 3px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}
